# MongoDB Atlas Connection URI
# Replace <YOUR_PASSWORD> with your bdhosttpos_db_user password
MONGODB_URI="mongodb+srv://bdhosttpos_db_user:<YOUR_PASSWORD>@cluster0.xat1rhy.mongodb.net/bd_hostt_erp?retryWrites=true&w=majority&appName=Cluster0"

# Backend Server Port
PORT=5000

# GEMINI_API_KEY: Optional Gemini AI API call
GEMINI_API_KEY=""
